<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    
    <!-- Moment has to be at the top to work correctly -->
    <script src="/static/js/moment.min.js"></script>
    {% if g.locale != 'en' %}
    <script src="/static/js/moment-{{g.locale}}.min.js"></script>
    {% endif %}

    {% if title %}
    <title>{{ title }} - Payment Platform</title>
    {% else %}
    <title>Payment Platform</title>
    {% endif %}
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
      <a class="navbar-brand" href="/">Small Business Payment Platform (beta)</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('index') }}"><i class="fa fa-home fa-1x" aria-hidden="true"></i> {{ _('Home') }}</a>
          </li>
          {% if g.user.is_authenticated %}
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-money fa-1x" aria-hidden="true"></i> Payments
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ url_for('create_payment') }}">{{ _('Create a New Payment') }}</a>  
            </div>
          </li>
          {% else %}
          {% endif %}
        </ul>
        <ul class="navbar-nav mr-auto">
          {% if g.user.is_authenticated %}
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('logout') }}"><i class="fa fa-sign-out fa-1x" aria-hidden="true"></i> Logout</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('user_page', username=g.user.username) }}"><i class="fa fa-user-circle-o fa-1x" aria-hidden="true"></i> Profile</a>
          </li> 
          {% else %}
          <li class="nav-item active">              
            <a class="nav-link" href="{{ url_for('login') }}"><i class="fa fa-sign-in fa-1x" aria-hidden="true"></i> Login</a>
          </li>  
          <li class="nav-item active">              
              <a class="nav-link" href="{{ url_for('register_user') }}"><i class="fa fa-id-card-o fa-1x" aria-hidden="true"></i> Register Account</a>
            </li>  
          {% endif %}     
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
        {% include 'flash.html' %}
    </div>

    {% block content %}{% endblock %}
    

    <!-- Footer -->
    <footer>
      <hr class="section-heading-spacer">
      <div class="clearfix"></div>
      <div class="container">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="{{ url_for('index') }}">Home</a>
          </li>
          <li class="footer-menu-divider list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#about">About</a>
          </li>
          <li class="footer-menu-divider list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#contact">Contact</a>
          </li>
        </ul>
        <p class="copyright text-muted small">Copyright &copy; StakeBack Productions 2017. All Rights Reserved</p>
      </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  </body>
</html>