<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<br>

<div class="container"> 

    <div class="jumbotron">
        <h3 class="display-6">User: {{ user.username }}</h3>
        <hr class="my-4">
        {% if user.nickname %}<p class="lead">Nickname: {{ user.nickname }}</p>{% endif %}
        {% if user.last_seen %}
            <p><em>{{ _('Last seen:') }} {{ momentjs(user.last_seen).calendar() }}</em></p>
        {% endif %}
        {% if user.about_me %}<p><strong>About Me: </strong>{{ user.about_me }}</p>{% endif %}

        {% if user.id == g.user.id %}
            <p class="lead">
                <a class="btn btn-primary" href="{{ url_for('edit') }}" role="button">Edit Profile</a>
            </p>
        {% endif %}        
    </div>

</div>

{% endblock %}
